
<div class ="post-section">


		<div class = "newsfeed-header">Posts
		</div>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>
		

		<%= render 'layouts/singleplayer' %>

</div>