
<div class = "profile-head">
	<div class = "profile-picture">
	</div>

	<div class = "profile-name">
	Artist Name
	</div>


	<div class = "coverpicture">
	</div>

	<div class = "profile-menubar">

			<div class = "songplayer-header">
			<div class = "songplayer-vr"></div>

			<div class = "songplayer-header-type">About
			</div><div class = "songplayer-vr"></div>

			<div class = "songplayer-header-type"><h5> 56</h5> Songs
			</div><div class = "songplayer-vr"></div>


			<div class = "songplayer-header-type"><h5> 324 </h5>Following
			</div><div class = "songplayer-vr"></div>

			<div class = "songplayer-header-type"><h5> 50k </h5>Followers
			</div><div class = "songplayer-vr"></div>

			<div class = "songplayer-header-type"><h5> 932 </h5>Favourites
			</div><div class = "songplayer-vr"></div>
	
	
		</div>

	</div>
</div>

		<%= render 'layouts/songplayer' %>

<div class ="post-section">

		<div class = "newsfeed-header">Posts
		</div>

		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>


		<%= render 'layouts/singleplayer' %>

</div>


