
	<div class = "songplayer">
		
		<div class = "songplayer-header">
			<div class = "songplayer-header-type">Songs 
			</div><div class = "songplayer-vr"></div>

			<div class = "songplayer-header-type">Albums
			</div><div class = "songplayer-vr"></div>

			<div class = "songplayer-header-type">Playlists
			</div><div class = "songplayer-vr"></div>

	
		</div>

		<div class = "playerinfo">


			<div class ="songimage">
			</div>


			<div class ="songinfo">	
				<h4> Artist Name </h4><br>
				Buy 1 Get 3 Free! Select 3 Commercial, WAV-Trackout or Unlimited Leases for discount to apply automatically - www.thechasebeats.com
			</div>


			<div class ="buyinfo">
				<h2>Items:
				<br>
				Total:
				</h2>

				<a href="#" class ="buyinfo-button button-class"> Buy Now
				</a>


			</div>

		</div>

	<div class = "song-section">

		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
		<%= render 'layouts/songplayersingle' %>
								




	</div>

</div>